<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.CategoryMapper">
	<select id="getCategory" parameterType="Category" resultType="Category">
		select * from t_category
		<where>
			<if test="name != null and name != ''">
				name like concat('%', #{name}, '%')
			</if>
		</where>
	</select>
	
	<select id="getCategoryById" resultType="Category">
		select * from t_category where id = #{id}
	</select>
	
	
	<select id="getProductByCid" resultType="Product">
		select * from t_product where cid=#{0}
	</select>
	<select id="getProductByCidlimit" resultType="Product">
		select * from t_product where cid=#{0} limit 5
	</select>	
	
	<select id="search" resultType="Category">
		select * from t_category where name like concat('%', #{0}, '%')
	</select>
	 <delete id="delCategoryById">
		delete from t_category where id=#{0}
	</delete>
	<update id="updCategoryById">
    update t_category
    <set>
      <if test="name != null and name != ''">
        name = #{name},
      </if>
    </set>
    where id = #{id}
  </update>
	<insert id="addCategory" parameterType="Category">
		insert into
		t_category(name) values(#{name})
	</insert>
</mapper>
