<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.OrderMapper">
	<insert id="addOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id" >
		insert into `order`(orderNum,address,postNum,receiverName,tel,uid,status,createDate) values(#{orderNum},#{address},#{postNum},#{receiverName},#{tel},#{uid},#{status},#{createDate})
	</insert>
	
	<insert id="addComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="id" >
		insert into `t-review`(content,pid,uid,createDate) values(#{content},#{pid},#{uid},#{createDate})
	</insert>
	<select id="getComment" resultType="Comment">
	    select tu.username,tr.content,tr.id,tr.pid from `t_user` tu,`t-review` tr where tu.id=tr.uid and pid=#{pid}
	</select>
	<!-- <insert id="addOrderItem" parameterType="OrderItem">
		insert into `orderitem`(pid,uid,number,oid)
		values(#{pid},#{uid},#{number},LAST_INSERT_ID())
	</insert> -->
	<insert id="addOrderItem" parameterType="OrderItem">
		insert into `orderitem`(pid,uid,number,oid)
		values(#{pid},#{uid},#{number},#{oid})
	</insert>
	<select id="getMyOrder" resultType="MyOrder">
		select o.id,o.createDate,o.orderNum,o.status,o.receiverName,o.tel,oi.number,oi.pid,oi.uid,tp.price,tp.name from `order` o,`orderitem` oi,`t_product` tp where o.id=oi.oid and oi.pid=tp.id order by o.orderNum
	</select>
	
	<select id="getOrderUnPay" resultType="MyOrder">
		select o.id,o.createDate,o.orderNum,o.status,oi.number,oi.pid,oi.uid,tp.price,tp.name from `order` o,`orderitem` oi,`t_product` tp where o.id=oi.oid and oi.pid=tp.id and o.status="待支付" order by o.orderNum
	</select>
	
	<select id="getOrdersUnDeliver" resultType="MyOrder">
		select o.id,o.createDate,o.orderNum,o.status,oi.number,oi.pid,oi.uid,tp.price,tp.name from `order` o,`orderitem` oi,`t_product` tp where o.id=oi.oid and oi.pid=tp.id and o.status="催卖家发货" order by o.orderNum
	</select>
	
	<select id="getOrdersUnReceive" resultType="MyOrder">
		select o.id,o.createDate,o.orderNum,o.status,oi.number,oi.pid,oi.uid,tp.price,tp.name from `order` o,`orderitem` oi,`t_product` tp where o.id=oi.oid and oi.pid=tp.id and o.status="待收货" order by o.orderNum
	</select>
	
	<select id="getOrdersUnComment" resultType="MyOrder">
		select o.id,o.createDate,o.orderNum,o.status,oi.number,oi.pid,oi.uid,tp.price,tp.name from `order` o,`orderitem` oi,`t_product` tp where o.id=oi.oid and oi.pid=tp.id and o.status="去评价" order by o.orderNum
	</select>
	<select id="getOrderId" resultType="Order">
		select * from `order` o where o.orderNum=#{0}
	</select>
	<delete id="delCurrentOrder1">	
	   delete oi from `orderitem` oi where oi.oid=#{0}
	</delete>
	<delete id="delCurrentOrder2">	
	   delete o from `order` o where o.id=#{0} 
	</delete>
	
	<update id="updOrderById">
    update `order`
    <set>
      <if test="receiverName != null and receiverName != ''">
        receiverName = #{receiverName},
      </if>
      <if test="tel != null and tel != ''">
        tel = #{tel},
      </if>
       <if test="status != null and status != ''">
        status = #{status},
      </if>
    </set>
    where id = #{id}
  </update>
	<update id="updateStatus">
		update `order` set
		status="催卖家发货"
		where id=#{id}
	</update>
	<update id="updLeftStatus" parameterType="MyOrder">
		update `order`
		<set>
			<if test="createDate != null and createDate != ''">
				createDate=#{createDate},
			</if>
			<if test="orderNum != null and orderNum != ''">
				orderNum=#{orderNum},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
		</set>
		where id = #{id}
	</update>
</mapper>