<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.UserMapper">
    <select id="getAllUser" resultType="User">
		select * from t_user
	</select>
	<select id="checkUser" resultType="User">
		select * from t_user where username = #{0} and password = #{1}
	</select>
	<insert id="addUser" parameterType="User">
		insert into
		t_user(username,password)
		values(#{username},#{password})
	</insert>
	
	<select id="searchUser" resultType="User">
		select * from t_user where username like concat('%', #{0}, '%')
	</select>
	 <delete id="delUserById">
		delete from t_user where id=#{0}
	</delete>
	<update id="updUserById">
    update t_user
    <set>
      <if test="username != null and username != ''">
        username = #{username},
      </if>
      <if test="password != null and password != ''">
        password = #{password},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>
